version: "3.8"
services:
  client:
    image: ghcr.io/hirurg-lybitel/gdmn-crm-client:latest
    container_name: crm_client
    build:
      context: .
      dockerfile: Dockerfile
      target: client
      args:
        - NX_SERVER_HOST=${NX_SERVER_HOST}
        - NX_SERVER_PORT=${NX_SERVER_PORT}
        - NX_MUI_LICENSE=${NX_MUI_LICENSE}
        - NX_SOCKET_NOTIFICATIONS_PORT=${NX_SOCKET_NOTIFICATIONS_PORT}
        - NX_SOCKET_STREAMING_UPDATE_PORT=${NX_SOCKET_STREAMING_UPDATE_PORT}
        - NX_BRANCH=dockering
    ports:
      - ${NX_APP_PORT}:80
    volumes:
      - type: bind
        source: ssl
        target: /etc/nginx/ssl
        read_only: true
    env_file:
      - ./.env
      - ./.env.prod
    networks:
      - proxy_network

  server:
    image: ghcr.io/hirurg-lybitel/gdmn-crm-server:latest
    hostname: gdmn.crm
    build:
      context: .
      dockerfile: Dockerfile
      target: server
      args:
        - NX_BRANCH=dockering
    container_name: crm_server
    ports:
      - "${NX_SERVER_PORT}:${NX_SERVER_PORT}"
      - "${NX_SOCKET_NOTIFICATIONS_PORT}:${NX_SOCKET_NOTIFICATIONS_PORT}"
      - "${NX_SOCKET_STREAMING_UPDATE_PORT}:${NX_SOCKET_STREAMING_UPDATE_PORT}"
    volumes:
      - type: bind
        source: ssl
        target: /ssl
        read_only: true
    env_file:
      - ./.env
      - ./.env.prod
    networks:
      - proxy_network

networks:
  proxy_network:
    external: true
