services:
  client:
    image: hirurglybitel/gdmn-client:latest
    container_name: crm_client
    build:
      context: .
      dockerfile: Dockerfile
      target: client
      args:
        - NX_HOST_IP=${NX_HOST_IP}
        - NX_SERVER_PORT=${NX_SERVER_PORT}
        - NX_MUI_LICENSE=${NX_MUI_LICENSE}
        - NX_SOCKET_NOTIFICATIONS_PORT=${NX_SOCKET_NOTIFICATIONS_PORT}
        - NX_SOCKET_STREAMING_UPDATE_PORT=${NX_SOCKET_STREAMING_UPDATE_PORT}
        - NX_BRANCH=dockering
    ports:
      - ${NX_APP_PORT}:80
    # multiple env_file не работает согласно https://docs.docker.com/compose/compose-file/compose-file-v3/#env_file
    env_file:
      - ./.env
      - ./.env.prod
  server:
    image: ghcr.io/hirurglybitel/gdmn-server:latest
    hostname: gdmn.crm
    build:
      context: .
      dockerfile: Dockerfile
      target: server
      args:
        - NX_BRANCH=dockering
    container_name: crm_server
    ports:
      - "${NX_SERVER_PORT}:${NX_SERVER_PORT}"
      - "${NX_SOCKET_NOTIFICATIONS_PORT}:${NX_SOCKET_NOTIFICATIONS_PORT}"
      - "${NX_SOCKET_STREAMING_UPDATE_PORT}:${NX_SOCKET_STREAMING_UPDATE_PORT}"
    env_file:
      - ./.env
      - ./.env.prod
