/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.pie-tooltip-label {
  max-inline-size: 150px;
  white-space: normal;
}

.pie-tooltip-value {
  margin-left: -5px;
  margin-top: 10px;
}

.bar-tooltip-label {
  inline-size: 250px;
  white-space: normal;
}
