/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

.pre {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 12px;
}

.word {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 2px;
}
