/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.container {
  position: relative;
  width: 100%;
  height: calc(100% - 1px);
  overflow-y: scroll;
  overflow-x: hidden;
  border-left: 1px solid silver;
  background-color: blanchedalmond;
}

.pre {
  position: absolute;
  width: 100%;
  font-size: 12px;
  margin: 0;
}

.middle_container {
  position: relative;
  width: 100%;
  height: calc(100% - 1px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 8px;
}

.tree_head {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  padding-bottom: 8px;
}

.tree_stack {
  position: absolute;
  width: 100%;
}

.word {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 2px;
}

.selected {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 2px;
  background-color: mediumturquoise;
}

.table {
  border-collapse: collapse;
  margin-top: 16px;
  width: 100%;
  background-color: bisque;
}

.table td {
  border: 1px dotted gray;
  padding-left: 4px;
  padding-right: 4px;
}

.table td span {
  display: inline-block;
  font-weight: 800;
  min-width: 58px;
  padding-right: 4px;
}

