/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.input {
  border: none;
  border-color: transparent ;
  width: 100%;
  height: 100%;
  resize: none;
  outline: none;
  padding: 4px;
  background-color: antiquewhite;
  overflow-y: scroll;
}

.params {
  width: 100%;
  border-collapse: collapse;
}

.params td, th {
  border: 1px dotted gray;
  padding: 6px;
}

.params input {
  width: 100%;
}


