/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

.button {
  border-radius: var(--border-radius);
}

.selectForm {
  position: absolute;
  z-index: 3;
}

.listBox {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.listBoxItem {
display: flex;
justify-content: center;
align-items: center;
padding: 10px;
height: 100%;
}

.iconButton {
  width: 44px;
  height: 44px;
  border-radius: var(--border-radius) !important;
}

.iconButton:hover {
  border: 1px solid var(--color-borders);
}
