.menuContainer {
  z-index: 1300;
  padding-top: 4px;
  margin-top: 4px !important;
}

.avatar {
  box-shadow: 0 0 0 1px var(--color-borders);
}

.avatar:hover {
  cursor: pointer !important;
  opacity: 0.7;
}

.menuLabel:hover {
  cursor: pointer !important;
}

.menuContainer:before {
  content: "";
  margin: auto;
  position: absolute;
  display: block;
  left: 12px;
  right: 0;
  top: 0;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  border: 1px solid;
  border-color: var(--color-borders) transparent transparent var(--color-borders);
  background-color: var(--color-paper-bg)
 }
