.componentBody {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 300px;
  padding: 20px;
  padding-right: 0;
}
.component {
  width: 100px;
  height: 100px;
  padding: 5px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin:5px;
}
.templateBody{
  min-height: 100%;
  display: 'flex';
  justify-content: 'center';
  flex-direction: 'column';
  border-radius: var(--border-radius);
}
.templateScrollBox{
  display: flex;
  justify-content: center;
  padding: 20px;
}
