.componentBody {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 300px;
  padding: 20px;
  padding-top:16px;
}
.component {
  width: 100px;
  height: 100px;
  padding: 5px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin:5px;
}
.templateBody{
  min-height: 100%;
  display: 'flex';
  justify-content: 'center';
  flex-direction: 'column';
}
.templateScrollBox{
  display: flex;
  justify-content: center;
  padding-right: 20px;
}
