.card {
  height: 100% !important;
  display: flex;
  flex-direction: column;
}

.loadingButton {
  margin-left: auto !important;
}

.cardToolbarContent {
  display: flex;
}

.accordionSummary {
  padding: 12px !important;
}
