.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.footer {
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.messenger-icon {
  width: 20px;
  height: 20px;
  text-align: center;
}

.list {
  display: grid;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  padding: 0 24px;
  list-style: none;
}


@media (min-width: 768px) {
  .list {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .list {
      grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1366px) {
  .list {
      grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1920px) {
  .list {
      grid-template-columns: repeat(4, 1fr);
  }
}
.card {
  height: 100%;
  padding: 8px;
  background-color: var(--color-card-bg) !important;
  cursor: pointer;
  transition: transform 0.5s !important;
}

.card:hover {
  // transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}

.actions {
  display: none;
}

.card:hover .actions {
  display: inline;
  position: absolute;
  right: 0;
  top: 0;
}

.flip-card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  height: 172px;
}


.frontside, .backside {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.frontside {

}

.backside {
  transform: rotateY(180deg);

}

.flip-card.flipped {
  transform: rotateY(180deg);
}

.starButton {
  position: absolute !important;
  bottom: 0;
  right: 0;
  margin: 5px !important;
}

.link {
  display: flex;
  text-decoration: none;
}

.linkDisabled {
  pointer-events: none;
  cursor: default;
}

.link:hover {
  text-decoration: underline var(--color-primary-bg);
}

.noData {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contactRank {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.1 !important;
}

.clipboard {
  display: none;
  position: relative;
}

.clipboard button {
  position: absolute;
}

.clipboard svg {
  font-size: 12px;
}

.infoItem:hover .clipboard {
  display: inline;
}
