.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  gap: 0px 0px;
  grid-template-areas:
    "rs-orders-area"
    "rs-header"
    "rs-title"
    "rs-main-table"
    "rs-footer";
  .rs-orders-area {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". rs-orders-table";
    grid-area: rs-orders-area;
    background-color: aqua  ;
    .rs-orders-table {
      grid-area: rs-orders-table;
      background-color: blue;
    }
  }
  .rs-header {
    grid-area: rs-header;
    background-color: pink;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    overflow: auto;
    td,th {
      border: 1px solid black;
      padding: 8px;
    }
  }
  .rs-title {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 0px 0px;
    grid-template-areas:
      "rs-title-first"
      "rs-title-second";
    grid-area: rs-title;
    padding-top: 2rem;
    .rs-title-first {
      grid-area: rs-title-first;
      background-color: blueviolet;
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      div:first-child {
        border-bottom: 1px solid black;
      }
    }
    .rs-title-second {
      grid-area: rs-title-second;
      background-color: burlywood;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .rs-main-table {
    grid-area: rs-main-table;
    background-color: chartreuse;
  }
  .rs-footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "rs-footer-first"
      "rs-footer-second"
      "rs-footer-third";
    grid-area: rs-footer;
    .rs-footer-first { grid-area: rs-footer-first; }
    .rs-footer-second {
      grid-area: rs-footer-second;
      th {
        border: none;
        width: 50%;
      }
      td {
        border: none;
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        div {
          display: flex;
          flex-direction: column;
          :first-child {
            border-bottom: 1px solid black;
          }
          :last-child {
            vertical-align: super;
            font-size: 60%;
          }
        }
      }
    }
    .rs-footer-third { grid-area: rs-footer-third; }
  }
}