.body{
    min-width: 100%;
    padding: 25px;
    background-color: white;
    border-radius: 12px;
    border: 1px solid rgb(224, 224, 224);
    color: rgb(245, 245, 245);
    overflow-wrap: normal;
}