.body{
    position: relative;
    max-height: 100%;
    min-width: 100%;
    padding: 25px;
    background-color: white;
    border-radius: 12px;
    border: 1px solid rgb(224, 224, 224);
    color: rgb(245, 245, 245);
    overflow-wrap: normal;
}
.container{
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.answerField{
    background-color: rgb(245, 245, 245);
    border-radius: 15px;
}
.addButton{
    width: 100%;
    display: flex;
    justify-content: center;
}
.faqList{
    display: flex;
    align-items: flex-start;
}