.button {
  width: 120px;
}

.tabPanel {
  padding: 0 !important;
  padding-top: 12px !important;
  flex: 1;
  display: flex;
  justify-content: center;
}

.tabHeader {
  min-height: 0 !important;
}

.tabHeaderRoot {
  min-height: 30px !important;
  margin-top: -16px;
  max-width: calc(100vw - 591px); // костыль из-за горизонтального скрола на маленьких экранах
}

.editPanel {
  width: 300px
}
