.button {
  width: 120px;
}

.tabPanel {
  padding: 0 !important;
  padding-top: 12px !important;
  flex: 1;
  display: flex;
  justify-content: center;
}

.tabHeader {
  min-height: 0 !important;
}

.tabHeaderRoot {
  min-height: 30px !important;
  margin-top: -16px;
}

.editPanel {
  width: 300px;
  margin-top: -12px !important;
  margin-right: -16px !important;
}


.scrollContainer {
  flex: 1;
  margin-right: -24px;
  margin-top: -12px;
}

.scrollBox {
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 1px;
}
